#main
{
background: #659999;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 0px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 30px auto;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;;
}
#img-div
{
    background-color: white;
    width: 100%;
    margin: -5px;
    margin-top: 20px;
    border: 5px solid white;
}
#img-div img
{
    max-width: 100%;
    height: auto;
}
#tribute-info ul
{
    max-width: 550px;
    text-align: left;
    margin: 45px auto;
}
li
{
    margin: 16px;
}
blockquote
{
    font-style: italic;
}